
a.text_link {
	text-decoration: none;
	color: #5AF;
}

a.text_link:hover {
	background-color: #EEE;
}

.out_inside .about_frame {
	overflow-y: auto;
	overflow-x: hidden;
	width: auto;
	height: 100vh;
}

.about_frame .about_content {
	font-size: 20; 
	line-height: 30px;
	padding-top: 50;
	padding-left: 30;
	padding-bottom: 30;
	margin-left: 180px;
	
}




