
html {
	background-color: white;
}

body {
  font-family: Arial, 微軟正黑體;
}

a {
	-webkit-user-drag: none;
}

div.sidebar {
	height: auto;
	width: 160px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFCCFF;
	overflow-x: hidden;
	padding-top: 50px
}

div.sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #AAAAFF;
	display: block;
}

div.sidebar a:hover {
	color: #5555FF;
	background-color: #FFAAFF;
}

div.main {
	margin-left: 160px;
	padding:0px 10px;
}

div.topbar {
	height: 50px;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 20px;
	background-color: #000;
	overflow: hidden;
}

div.topbar ul.horizon {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.horizon li {
	display: inline;
	float: left;
}

ul.horizon li a {
	display: block;
	padding: 8px;
	text-decoration: none;
	font-size: 25px;
	color: #FFF;
}

div.topbar a:hover {
	background-color: #2A0;
}

@media screen and (max-height: 450px) {
  div.sidebar {padding-top: 15px;}
  div.sidebar a {font-size: 18px;}
}


