

.out_sidebar {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: auto;
	left: 0;
	background-color: #FCF;
	overflow-x: hidden;
}

.out_sidebar a {
	padding: 6px 0px 6px 8px;
	text-decoration: none;
	font-size: 20px;
	color: #AAF;
	display: block;
}

.out_sidebar a.click:hover, .out_sidebar a.onClick {
	color: #55F;
	background-color: #FAF;
}

.out_inside {
	/*padding:0px 10px;*/
}

.out_topbar {
	width: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
}

.out_topbar ul.out_horizon {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #000;
	overflow: hidden;
}

ul.out_horizon li {
	display: inline;
	float: left;
}

.out_topbar .out_right {
	float: right;
}

.out_topbar .out_lang {
	float: right;
	padding-right: 20px;
}

.out_topbar .out_lang a {
	background-color: #77F;
}

.out_topbar .out_lang a:hover {
	background-color: #55F;
}

ul.out_horizon li a {
	display: block;
	padding: 10px;
	height: 100%;
	text-decoration: none;
	font-size: 25px;
	color: #FFF;
}

.out_topbar ul.out_horizon a.click:hover, .out_topbar ul.out_horizon a.onClick {
	background-color: #2A0;
}

.bottom_block {
	width: 100vw;
	height: 200px;
	background-color: #7AF;
	
}

@media screen and (max-width: 800px) {
  .out_sidebar {
	  width: 130px;
  }
  .out_sidebar a {
	  font-size: 15px;
  }
  .out_inside {
	  margin-left: 130px;
  }
}


