
@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Thin.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Light.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-LightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-LightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Regular.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Extended.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-Oblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-Italic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Medium.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-SemiBold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Bold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-Heavy.woff2') format('woff2'), url('TTF/IosevkaTermSS14-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTermSS14-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTermSS14-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTermSS14-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTermSS14-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS14 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTermSS14-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaTermSS14-ExtendedHeavyItalic.ttf') format('truetype');
}
