# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# ignore .name for other device
.name
# ignore other ide project settings
misc.xml
vcs.xml